body {
    background-color: #e4e5e6;
}

.app-header .navbar {
    padding: 0;
}

.breadcrumb {
    background-color: #FFF;
}

.table {
    background-color: #FFF;
}

.alert-box {
    position: absolute;
    bottom: 35px;
    right: 1rem;
    margin-bottom: 1rem;
    max-width:400px;
}

.alert {
    border-radius: 0;
}